<fieldset>
    <legend>Add Item</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='product-title'>Flavor</label><br>
        <input class='form-control' id='product-title' type='text' name='title' value='{{ products.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='price'>Price</label><br>
        <input class='form-control' id='price' type='text' name='price' value='{{ products.price }}' />
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='picture'>Picture</label><br/>
        <p class='text-muted'>Add picture URL'.</p>
        <textarea class='form-control' id='product-picture' name='picture' rows='10' />{{ "\n".join(products.picture) }}</textarea>
    </div>
</fieldset>