{% extends 'base.html' %}

{% block content %}
<head>
    <title>Create Socks</title>
    <a href='/'>
        <button type="button" class="btn btn-primary">Back to Home</button>
    </a>
</head>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <form method='POST' action='/products'>
            {% include 'partials/contractor_form.html' %}
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Save Item</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}